<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Task List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Task List</h1>
        <div class="card shadow p-3">
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between aligh-items-center">

                    <label>{{task.codename}}</label>
                    <div>

                        <a href="{{url_for('get_info', id=task.id)}} " class="btn btn-sm btn-primary">Open</a>
                        <a href="{{url_for('message',id=task.id)}} " class="btn btn-sm btn-secondary">Send urent
                            message</a>
                        <a href="{{ url_for('edit_task', id=task.id) }}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{{ url_for('delete_task', id=task.id) }}" class="btn btn-sm btn-danger"
                            onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center;">
            <div class="text-center mt-4">
                <a href="{{url_for('add_task')}}" class="btn btn-success">Add New Task</a>
            </div>
            <div class="text-center mt-4">
                <a href="{{ url_for('format_db') }}" class="btn btn-danger"
                    onclick="return confirm('DB will delete! Are you sure?')">Secret Mode</a>
            </div>
            <div class="text-center mt-4">
                <a href="{{ url_for('sort_tasks') }}" class="btn btn-sm">Sort Top Secret</a>
            </div>
        </div>
</body>

</html>